name: Tizen Signer Ninja
on:
  workflow_dispatch: # Permite que tu cliques num botão para começar

jobs:
  sign_wgt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Tizen CLI
        uses: oxalide/tizen-actions@v1.1
        with:
          tizen-version: '5.5'

      - name: Create Certificate and Sign
        run: |
          # Criar certificado de autor
          tizen certificate -a Felipe -p 1234 -c KR -s Seoul -ct Gangnam -o Home -n "Felipe" -e felipe@test.com
          # Criar perfil de segurança
          tizen security-profiles add -n PerfilFelipe -p /home/runner/tizen-studio-data/keystore/author/Felipe.p12 -pw 1234
          # Assinar o arquivo
          tizen package -t wgt -s PerfilFelipe -- Eclipse.wgt

      - name: Upload Signed WGT
        uses: actions/upload-artifact@v3
        with:
          name: Eclipse-Assinado
          path: Eclipse.wgt
          
