name: Tizen Signer V3
on:
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Tizen CLI
        # Esta Action é mais leve e estável
        uses: tizen-project/tizen-build-action@main
        with:
          tizen-test-kit: false

      - name: Create Certificate and Sign
        run: |
          # 1. Gerar o certificado
          tizen certificate -a Felipe -p 1234 -c KR -s Seoul -ct Gangnam -o Home -n "Felipe" -e felipe@test.com
          
          # 2. Criar o perfil de segurança
          # O caminho do certificado no GitHub Actions costuma ser este:
          tizen security-profiles add -n PerfilFelipe -p /home/runner/tizen-studio-data/keystore/author/Felipe.p12 -pw 1234
          
          # 3. Assinar o WGT (pegando qualquer arquivo .wgt na raiz)
          tizen package -t wgt -s PerfilFelipe -- *.wgt

      - name: Upload Signed Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Eclipse-Pronto-Para-TV
          path: "*.wgt"
          
