name: Tizen Signer V5
on:
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Install Mini Tizen CLI
        run: |
          # Baixa uma versão portátil e leve do CLI
          wget https://github.com/it9gamelog/tizen-web-cli-portable/releases/download/v1.0.0/tizen-web-cli-portable.zip
          unzip tizen-web-cli-portable.zip -d tizen-cli
          chmod +x tizen-cli/tools/ide/bin/tizen
          echo "$(pwd)/tizen-cli/tools/ide/bin" >> $GITHUB_PATH

      - name: Create Certificate and Sign
        run: |
          # 1. Gerar o certificado (usando o caminho local que acabamos de extrair)
          ./tizen-cli/tools/ide/bin/tizen certificate -a Felipe -p 1234 -c KR -s Seoul -ct Gangnam -o Home -n "Felipe" -e felipe@test.com
          
          # 2. Criar o perfil de segurança
          ./tizen-cli/tools/ide/bin/tizen security-profiles add -n PerfilFelipe -p ./tizen-cli/tools/ide/bin/keystore/author/Felipe.p12 -pw 1234
          
          # 3. Assinar o arquivo
          ./tizen-cli/tools/ide/bin/tizen package -t wgt -s PerfilFelipe -- *.wgt

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Eclipse-Assinado-V5
          path: "*.wgt"
          
